    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-big-bonbon:before { content: "\f100"; }
.flaticon-big-bun:before { content: "\f101"; }
.flaticon-big-candy:before { content: "\f102"; }
.flaticon-big-donout:before { content: "\f103"; }
.flaticon-big-macaroon:before { content: "\f104"; }
.flaticon-big-pretzel:before { content: "\f105"; }
.flaticon-birthday-cake-with-candle:before { content: "\f106"; }
.flaticon-cake-pop:before { content: "\f107"; }
.flaticon-cake-with-cherry-on-top:before { content: "\f108"; }
.flaticon-candy-corn:before { content: "\f109"; }
.flaticon-caramelized-apple:before { content: "\f10a"; }
.flaticon-chocolate-bar:before { content: "\f10b"; }
.flaticon-chocolate-tablet-with-bite:before { content: "\f10c"; }
.flaticon-cinnamon-roll:before { content: "\f10d"; }
.flaticon-cola-candy:before { content: "\f10e"; }
.flaticon-cookie-with-fine-chips:before { content: "\f10f"; }
.flaticon-creme-caramel:before { content: "\f110"; }
.flaticon-croissant-facing-down:before { content: "\f111"; }
.flaticon-cupcake-with-cherry:before { content: "\f112"; }
.flaticon-double-popsicle:before { content: "\f113"; }
.flaticon-frozen-yogurt:before { content: "\f114"; }
.flaticon-fun-popsicle:before { content: "\f115"; }
.flaticon-ginger-bicuit:before { content: "\f116"; }
.flaticon-gum-wrapped:before { content: "\f117"; }
.flaticon-honey-jar:before { content: "\f118"; }
.flaticon-hot-pie:before { content: "\f119"; }
.flaticon-ice-cream-balls-on-cup:before { content: "\f11a"; }
.flaticon-inclinated-watermelon-ice-cream:before { content: "\f11b"; }
.flaticon-inclined-biscuit:before { content: "\f11c"; }
.flaticon-inclined-candy:before { content: "\f11d"; }
.flaticon-inclined-candy-cane:before { content: "\f11e"; }
.flaticon-inclined-cotton-candy:before { content: "\f11f"; }
.flaticon-inclined-heart-shaped-lollipop:before { content: "\f120"; }
.flaticon-inclined-ice-cream-cone:before { content: "\f121"; }
.flaticon-inclined-lollipop:before { content: "\f122"; }
.flaticon-inclined-lollipop-1:before { content: "\f123"; }
.flaticon-inclined-marshmallow:before { content: "\f124"; }
.flaticon-inclined-slice-of-lemon:before { content: "\f125"; }
.flaticon-jelly-on-a-plate:before { content: "\f126"; }
.flaticon-liquorice:before { content: "\f127"; }
.flaticon-marie-biscuit-with-bite:before { content: "\f128"; }
.flaticon-milkshake-with-straw:before { content: "\f129"; }
.flaticon-pancakes-with-syrup:before { content: "\f12a"; }
.flaticon-pastry-biscuit:before { content: "\f12b"; }
.flaticon-piece-of-cake-on-plate:before { content: "\f12c"; }
.flaticon-popsicle-ice-cream:before { content: "\f12d"; }
.flaticon-puff-pastry:before { content: "\f12e"; }
.flaticon-round-candy:before { content: "\f12f"; }
.flaticon-small-cupcake:before { content: "\f130"; }
.flaticon-wrapped-chocolate:before { content: "\f131"; }
    
    $font-Flaticon-big-bonbon: "\f100";
    $font-Flaticon-big-bun: "\f101";
    $font-Flaticon-big-candy: "\f102";
    $font-Flaticon-big-donout: "\f103";
    $font-Flaticon-big-macaroon: "\f104";
    $font-Flaticon-big-pretzel: "\f105";
    $font-Flaticon-birthday-cake-with-candle: "\f106";
    $font-Flaticon-cake-pop: "\f107";
    $font-Flaticon-cake-with-cherry-on-top: "\f108";
    $font-Flaticon-candy-corn: "\f109";
    $font-Flaticon-caramelized-apple: "\f10a";
    $font-Flaticon-chocolate-bar: "\f10b";
    $font-Flaticon-chocolate-tablet-with-bite: "\f10c";
    $font-Flaticon-cinnamon-roll: "\f10d";
    $font-Flaticon-cola-candy: "\f10e";
    $font-Flaticon-cookie-with-fine-chips: "\f10f";
    $font-Flaticon-creme-caramel: "\f110";
    $font-Flaticon-croissant-facing-down: "\f111";
    $font-Flaticon-cupcake-with-cherry: "\f112";
    $font-Flaticon-double-popsicle: "\f113";
    $font-Flaticon-frozen-yogurt: "\f114";
    $font-Flaticon-fun-popsicle: "\f115";
    $font-Flaticon-ginger-bicuit: "\f116";
    $font-Flaticon-gum-wrapped: "\f117";
    $font-Flaticon-honey-jar: "\f118";
    $font-Flaticon-hot-pie: "\f119";
    $font-Flaticon-ice-cream-balls-on-cup: "\f11a";
    $font-Flaticon-inclinated-watermelon-ice-cream: "\f11b";
    $font-Flaticon-inclined-biscuit: "\f11c";
    $font-Flaticon-inclined-candy: "\f11d";
    $font-Flaticon-inclined-candy-cane: "\f11e";
    $font-Flaticon-inclined-cotton-candy: "\f11f";
    $font-Flaticon-inclined-heart-shaped-lollipop: "\f120";
    $font-Flaticon-inclined-ice-cream-cone: "\f121";
    $font-Flaticon-inclined-lollipop: "\f122";
    $font-Flaticon-inclined-lollipop-1: "\f123";
    $font-Flaticon-inclined-marshmallow: "\f124";
    $font-Flaticon-inclined-slice-of-lemon: "\f125";
    $font-Flaticon-jelly-on-a-plate: "\f126";
    $font-Flaticon-liquorice: "\f127";
    $font-Flaticon-marie-biscuit-with-bite: "\f128";
    $font-Flaticon-milkshake-with-straw: "\f129";
    $font-Flaticon-pancakes-with-syrup: "\f12a";
    $font-Flaticon-pastry-biscuit: "\f12b";
    $font-Flaticon-piece-of-cake-on-plate: "\f12c";
    $font-Flaticon-popsicle-ice-cream: "\f12d";
    $font-Flaticon-puff-pastry: "\f12e";
    $font-Flaticon-round-candy: "\f12f";
    $font-Flaticon-small-cupcake: "\f130";
    $font-Flaticon-wrapped-chocolate: "\f131";